build/
.dart_tool/
.pub-cache/
.pub/
.git/
.github/
dist/
docker_build/
coverage/
android/.gradle/
android/.kotlin/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
macos/Pods/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
